.icon-48-courses {
      background-image: url(../images/l_courses.png);
      padding-left:60px!important;
}

.icon-48-course {
      background-image: url(../images/l_courses.png);
      padding-left:60px!important;
}

.icon-48-users {
      background-image: url(../images/l_users.png);
      padding-left:60px!important;
}

.icon-48-user {
      background-image: url(../images/l_users.png);
      padding-left:60px!important;
}

